@font-face {
    font-family: Dongle-Regular;
    src: url(../fonts/Dongle-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Dongle-Bold;
    src: url(../fonts/Dongle-Bold.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}